 
body {
    margin: 0;
    padding: 0;
    /*background-size: cover;*/
    /* background:  url(../assets/SearchBackgroundImage.jpg); */
    /*background-position: center;*/
    background-color: white;
     font-family: sans-serif;
     /* box-shadow: inset 0px 0px 150px black; */
}
.SearchPage {
    width: 630px;
    height: 620px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 30%;
    padding:0% 2% 0% 4% ;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 13px;
}
 #bothIcon {
    position: relative;
    height: 20px;
    padding: 0px 20px 0px 10px;
    transform: rotateY(180deg);
}
.SearchPage input[type="text"] {
    border: none;
    border-bottom: 1px solid blueviolet;
    background: transparent;
    outline: none;
    color: #000;
    font-size: 18px;
}
#txtSourceList {
    width: 220px;
    height: 40px;
}
#txtDestinationList {
    width: 220px;
    height:40px;
}
.btnSearchFlights{
    padding-left:330px;
    padding-top:-81px;
}
#btnSearchFlights {
    background: transparent;
    background-color: transparent;
    border: 1px solid blueviolet;
    font-size: 21px;
    font-weight: lighter;
    font-family: Calibri;
    color: blueviolet;
    padding: 10px 15px;
    border-radius: 0px;
}
#btnSearchFlights:hover {
    background: blueviolet;
    color: white;
}
.navbar-header{
    font-size:50px; 
 }
nav{
    box-shadow: 0.5px 0.5px 20px dimgray;
    align-content: right;
    align-items: right;
    border-radius: 0%;
    background-color: white;
    height:80px;
    z-index:10;
    overflow: hidden;
    border-bottom-color: white;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    transition: .5s;
    }
  .imgbox{
    background-image:linear-gradient(
        rgba(255, 0, 0, 0.45), 
        rgba(255, 0, 0, 0.45)
      ); 
  }
  #HomePageBackground {
    max-width: 100%;
    max-height: 89%;
  }
    ul{
    display: inline-block;
    margin-left: 60%;
}


/* -------FOR SIDE NAV-------------- */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
 